.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  background-color: bisque;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 50px;
  margin: 0;
  color: brown;
}

.links {
  display: flex;
  gap: 5px;
  padding-right: 50px;
}
.navlink {
  list-style: none;
  margin: 0 0.075rem;
  text-transform: uppercase;
}
.navlink a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.navlink a:hover {
  color: #f9826c;
}
.usercontainer {
  background-color: red;
}
